In [50]:
import pandas as pd
import numpy as np

In [51]:
#file path
df_path = r'C:\Users\OzturkNa\Downloads\Py\HW1-data.xlsx'

In [52]:
#read the file
df= pd.DataFrame(pd.read_excel(df_path, sheet_name= "HW1-data"))
df

,User,"Gender (1 =F, 0=M)",260: Star Wars: Episode IV - A New Hope (1977),1210: Star Wars: Episode VI - Return of the Jedi (1983),356: Forrest Gump (1994),"318: Shawshank Redemption, The (1994)","593: Silence of the Lambs, The (1991)",3578: Gladiator (2000),1: Toy Story (1995),2028: Saving Private Ryan (1998),...,2396: Shakespeare in Love (1998),2916: Total Recall (1990),780: Independence Day (ID4) (1996),541: Blade Runner (1982),1265: Groundhog Day (1993),"2571: Matrix, The (1999)",527: Schindler's List (1993),"2762: Sixth Sense, The (1999)",1198: Raiders of the Lost Ark (1981),34: Babe (1995)
0,755,0,1.0,5.0,2.0,NaN,4.0,4.0,2.0,2.0,...,2.0,NaN,5.0,2.0,NaN,4.0,2.0,5.0,NaN,NaN
1,5277,0,5.0,3.0,NaN,2.0,4.0,2.0,1.0,NaN,...,3.0,2.0,2.0,NaN,2.0,NaN,5.0,1.0,3.0,NaN
2,1577,1,NaN,NaN,NaN,5.0,2.0,NaN,4.0,NaN,...,NaN,1.0,4.0,4.0,1.0,1.0,2.0,3.0,1.0,3.0
3,4388,0,NaN,3.0,NaN,NaN,NaN,1.0,2.0,3.0,...,NaN,4.0,1.0,3.0,5.0,NaN,5.0,1.0,1.0,2.0
4,1202,1,4.0,3.0,4.0,1.0,4.0,1.0,NaN,4.0,...,5.0,1.0,NaN,4.0,NaN,3.0,5.0,5.0,NaN,NaN
5,3823,1,2.0,4.0,4.0,4.0,NaN,NaN,3.0,1.0,...,5.0,2.0,4.0,NaN,1.0,NaN,NaN,3.0,NaN,2.0
6,5448,0,NaN,NaN,3.0,1.0,1.0,4.0,NaN,5.0,...,1.0,NaN,NaN,3.0,NaN,1.0,NaN,NaN,5.0,2.0
7,5347,0,4.0,NaN,NaN,NaN,3.0,2.0,2.0,NaN,...,NaN,2.0,3.0,2.0,4.0,NaN,1.0,3.0,5.0,NaN
8,4117,1,5.0,1.0,NaN,4.0,2.0,4.0,4.0,4.0,...,2.0,3.0,1.0,NaN,5.0,NaN,NaN,NaN,NaN,5.0
9,2765,0,4.0,2.0,NaN,5.0,3.0,NaN,4.0,3.0,...,NaN,NaN,2.0,NaN,NaN,2.0,5.0,1.0,NaN,NaN
10,5450,1,2.0,1.0,5.0,NaN,NaN,5.0,5.0,NaN,...,NaN,3.0,2.0,NaN,NaN,1.0,NaN,2.0,1.0,4.0
11,139,0,3.0,5.0,2.0,NaN,2.0,NaN,2.0,NaN,...,3.0,NaN,3.0,NaN,2.0,5.0,NaN,NaN,NaN,2.0
12,1940,0,2.0,3.0,NaN,5.0,4.0,NaN,4.0,5.0,...,NaN,2.0,4.0,NaN,3.0,NaN,NaN,NaN,5.0,NaN
13,3118,1,3.0,NaN,3.0,NaN,2.0,NaN,3.0,NaN,...,NaN,1.0,2.0,2.0,3.0,5.0,1.0,NaN,NaN,NaN
14,4656,1,4.0,4.0,NaN,NaN,5.0,5.0,2.0,NaN,...,NaN,1.0,3.0,NaN,2.0,NaN,3.0,NaN,3.0,1.0
15,4796,1,NaN,NaN,1.0,NaN,3.0,2.0,NaN,2.0,...,5.0,NaN,NaN,NaN,5.0,2.0,2.0,4.0,3.0,4.0
16,6037,0,NaN,NaN,NaN,NaN,4.0,NaN,2.0,NaN,...,2.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
17,3048,1,4.0,5.0,1.0,5.0,1.0,1.0,4.0,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,2.0,1.0,2.0,5.0
18,4790,0,5.0,1.0,NaN,NaN,NaN,4.0,2.0,1.0,...,3.0,1.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
19,4489,0,1.0,2.0,2.0,4.0,5.0,NaN,2.0,3.0,...,1.0,NaN,NaN,5.0,5.0,4.0,3.0,5.0,3.0,NaN

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 22 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   User                                                     20 non-null     int64
 1   Gender (1 =F, 0=M)                                       20 non-null     int64
 2   260: Star Wars: Episode IV - A New Hope (1977)           15 non-null     float64
 3   1210: Star Wars: Episode VI - Return of the Jedi (1983)  14 non-null     float64
 4   356: Forrest Gump (1994)                                 10 non-null     float64
 5   318: Shawshank Redemption, The (1994)                    10 non-null     float64
 6   593: Silence of the Lambs, The (1991)                    16 non-null     float64
 7   3578: Gladiator (2000)                                   12 non-null     float64
 8   1: Toy Story (1995)                                      17 non-null     float64
 9   2028: Saving Private Ryan (1998)                         11 non-null     float64
 10  296: Pulp Fiction (1994)                                 11 non-null     float64
 11  1259: Stand by Me (1986)                                 11 non-null     float64
 12  2396: Shakespeare in Love (1998)                         11 non-null     float64
 13  2916: Total Recall (1990)                                12 non-null     float64
 14  780: Independence Day (ID4) (1996)                       13 non-null     float64
 15  541: Blade Runner (1982)                                 9 non-null      float64
 16  1265: Groundhog Day (1993)                               12 non-null     float64
 17  2571: Matrix, The (1999)                                 12 non-null     float64
 18  527: Schindler's List (1993)                             12 non-null     float64
 19  2762: Sixth Sense, The (1999)                            12 non-null     float64
 20  1198: Raiders of the Lost Ark (1981)                     11 non-null     float64
 21  34: Babe (1995)                                          10 non-null     float64
dtypes: float64(20), int64(2)
memory usage: 3.6 KB

In [54]:
df.columns

Index(['User', 'Gender (1 =F, 0=M)',
       '260: Star Wars: Episode IV - A New Hope (1977)',
       '1210: Star Wars: Episode VI - Return of the Jedi (1983)',
       '356: Forrest Gump (1994)', '318: Shawshank Redemption, The (1994)',
       '593: Silence of the Lambs, The (1991)', '3578: Gladiator (2000)',
       '1: Toy Story (1995)', '2028: Saving Private Ryan (1998)',
       '296: Pulp Fiction (1994)', '1259: Stand by Me (1986)',
       '2396: Shakespeare in Love (1998)', '2916: Total Recall (1990)',
       '780: Independence Day (ID4) (1996)', '541: Blade Runner (1982)',
       '1265: Groundhog Day (1993)', '2571: Matrix, The (1999)',
       '527: Schindler's List (1993)', '2762: Sixth Sense, The (1999)',
       '1198: Raiders of the Lost Ark (1981)', '34: Babe (1995)'],
      dtype='object')

In [55]:
#this will help with later calculations and column names won't have to be repeated
cols = ['260: Star Wars: Episode IV - A New Hope (1977)',
       '1210: Star Wars: Episode VI - Return of the Jedi (1983)',
       '356: Forrest Gump (1994)', '318: Shawshank Redemption, The (1994)',
       '593: Silence of the Lambs, The (1991)', '3578: Gladiator (2000)',
       '1: Toy Story (1995)', '2028: Saving Private Ryan (1998)',
       '296: Pulp Fiction (1994)', '1259: Stand by Me (1986)',
       '2396: Shakespeare in Love (1998)', '2916: Total Recall (1990)',
       '780: Independence Day (ID4) (1996)', '541: Blade Runner (1982)',
       '1265: Groundhog Day (1993)', '2571: Matrix, The (1999)',
    "527: Schindler's List (1993)", '2762: Sixth Sense, The (1999)',
       '1198: Raiders of the Lost Ark (1981)', '34: Babe (1995)']

In [56]:
#Q1:Mean Rating: Calculate the mean rating for each movie, order with the highest rating listed first, and submit the top three (along with the mean scores for the top two).
df_mean = pd.DataFrame(df[cols].mean(), columns=['mean_values']).sort_values(by='mean_values', ascending=False)
df_mean

                                                    mean_values
318: Shawshank Redemption, The (1994)                  3.600000
260: Star Wars: Episode IV - A New Hope (1977)         3.266667
541: Blade Runner (1982)                               3.222222
1265: Groundhog Day (1993)                             3.166667
593: Silence of the Lambs, The (1991)                  3.062500
296: Pulp Fiction (1994)                               3.000000
527: Schindler's List (1993)                           3.000000
1210: Star Wars: Episode VI - Return of the Jed...     3.000000
34: Babe (1995)                                        3.000000
2028: Saving Private Ryan (1998)                       3.000000
3578: Gladiator (2000)                                 2.916667
1198: Raiders of the Lost Ark (1981)                   2.909091
2396: Shakespeare in Love (1998)                       2.909091
2571: Matrix, The (1999)                               2.833333
2762: Sixth Sense, The (1999)                          2.833333
1: Toy Story (1995)                                    2.823529
780: Independence Day (ID4) (1996)                     2.769231
356: Forrest Gump (1994)                               2.700000
1259: Stand by Me (1986)                               2.636364
2916: Total Recall (1990)                              1.916667

In [57]:
#Q2: Rating Count (popularity): Count the number of ratings for each movie, order with the most number of ratings first, and submit the top three (along with the counts for the top two). 
df_count = pd.DataFrame(df[cols].count(), columns=['count_ratings']).sort_values(by='count_ratings', ascending=False)
df_count

                                                    count_ratings
1: Toy Story (1995)                                            17
593: Silence of the Lambs, The (1991)                          16
260: Star Wars: Episode IV - A New Hope (1977)                 15
1210: Star Wars: Episode VI - Return of the Jed...             14
780: Independence Day (ID4) (1996)                             13
2762: Sixth Sense, The (1999)                                  12
3578: Gladiator (2000)                                         12
527: Schindler's List (1993)                                   12
2571: Matrix, The (1999)                                       12
1265: Groundhog Day (1993)                                     12
2916: Total Recall (1990)                                      12
1198: Raiders of the Lost Ark (1981)                           11
2396: Shakespeare in Love (1998)                               11
1259: Stand by Me (1986)                                       11
296: Pulp Fiction (1994)                                       11
2028: Saving Private Ryan (1998)                               11
318: Shawshank Redemption, The (1994)                          10
356: Forrest Gump (1994)                                       10
34: Babe (1995)                                                10
541: Blade Runner (1982)                                        9

In [58]:
#Q3: % of ratings 4+ (liking): Calculate the percentage of ratings for each movie that are 4 or higher. Order with the highest percentage first, and submit the top three (along with the percentage for the top two).
df_rating = pd.DataFrame(df[cols][df[cols]>=4].count()/df[cols].count(), columns=['ratings']).sort_values(by='ratings', ascending=False)
df_rating

                                                     ratings
318: Shawshank Redemption, The (1994)               0.700000
260: Star Wars: Episode IV - A New Hope (1977)      0.533333
3578: Gladiator (2000)                              0.500000
541: Blade Runner (1982)                            0.444444
593: Silence of the Lambs, The (1991)               0.437500
2571: Matrix, The (1999)                            0.416667
1265: Groundhog Day (1993)                          0.416667
34: Babe (1995)                                     0.400000
296: Pulp Fiction (1994)                            0.363636
1259: Stand by Me (1986)                            0.363636
2028: Saving Private Ryan (1998)                    0.363636
1210: Star Wars: Episode VI - Return of the Jed...  0.357143
1: Toy Story (1995)                                 0.352941
527: Schindler's List (1993)                        0.333333
2762: Sixth Sense, The (1999)                       0.333333
780: Independence Day (ID4) (1996)                  0.307692
356: Forrest Gump (1994)                            0.300000
1198: Raiders of the Lost Ark (1981)                0.272727
2396: Shakespeare in Love (1998)                    0.272727
2916: Total Recall (1990)                           0.083333

In [59]:
#Q4: Top movies for someone who has seen Toy Story
df_toystory = df[df['1: Toy Story (1995)'].notna()]
df_toystory = df_toystory.drop('Gender (1 =F, 0=M)', axis=1)
df_toystory

,User,260: Star Wars: Episode IV - A New Hope (1977),1210: Star Wars: Episode VI - Return of the Jedi (1983),356: Forrest Gump (1994),"318: Shawshank Redemption, The (1994)","593: Silence of the Lambs, The (1991)",3578: Gladiator (2000),1: Toy Story (1995),2028: Saving Private Ryan (1998),296: Pulp Fiction (1994),...,2396: Shakespeare in Love (1998),2916: Total Recall (1990),780: Independence Day (ID4) (1996),541: Blade Runner (1982),1265: Groundhog Day (1993),"2571: Matrix, The (1999)",527: Schindler's List (1993),"2762: Sixth Sense, The (1999)",1198: Raiders of the Lost Ark (1981),34: Babe (1995)
0,755,1.0,5.0,2.0,NaN,4.0,4.0,2.0,2.0,NaN,...,2.0,NaN,5.0,2.0,NaN,4.0,2.0,5.0,NaN,NaN
1,5277,5.0,3.0,NaN,2.0,4.0,2.0,1.0,NaN,NaN,...,3.0,2.0,2.0,NaN,2.0,NaN,5.0,1.0,3.0,NaN
2,1577,NaN,NaN,NaN,5.0,2.0,NaN,4.0,NaN,NaN,...,NaN,1.0,4.0,4.0,1.0,1.0,2.0,3.0,1.0,3.0
3,4388,NaN,3.0,NaN,NaN,NaN,1.0,2.0,3.0,4.0,...,NaN,4.0,1.0,3.0,5.0,NaN,5.0,1.0,1.0,2.0
5,3823,2.0,4.0,4.0,4.0,NaN,NaN,3.0,1.0,4.0,...,5.0,2.0,4.0,NaN,1.0,NaN,NaN,3.0,NaN,2.0
7,5347,4.0,NaN,NaN,NaN,3.0,2.0,2.0,NaN,3.0,...,NaN,2.0,3.0,2.0,4.0,NaN,1.0,3.0,5.0,NaN
8,4117,5.0,1.0,NaN,4.0,2.0,4.0,4.0,4.0,NaN,...,2.0,3.0,1.0,NaN,5.0,NaN,NaN,NaN,NaN,5.0
9,2765,4.0,2.0,NaN,5.0,3.0,NaN,4.0,3.0,4.0,...,NaN,NaN,2.0,NaN,NaN,2.0,5.0,1.0,NaN,NaN
10,5450,2.0,1.0,5.0,NaN,NaN,5.0,5.0,NaN,NaN,...,NaN,3.0,2.0,NaN,NaN,1.0,NaN,2.0,1.0,4.0
11,139,3.0,5.0,2.0,NaN,2.0,NaN,2.0,NaN,1.0,...,3.0,NaN,3.0,NaN,2.0,5.0,NaN,NaN,NaN,2.0
12,1940,2.0,3.0,NaN,5.0,4.0,NaN,4.0,5.0,NaN,...,NaN,2.0,4.0,NaN,3.0,NaN,NaN,NaN,5.0,NaN
13,3118,3.0,NaN,3.0,NaN,2.0,NaN,3.0,NaN,NaN,...,NaN,1.0,2.0,2.0,3.0,5.0,1.0,NaN,NaN,NaN
14,4656,4.0,4.0,NaN,NaN,5.0,5.0,2.0,NaN,3.0,...,NaN,1.0,3.0,NaN,2.0,NaN,3.0,NaN,3.0,1.0
16,6037,NaN,NaN,NaN,NaN,4.0,NaN,2.0,NaN,2.0,...,2.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
17,3048,4.0,5.0,1.0,5.0,1.0,1.0,4.0,NaN,5.0,...,NaN,NaN,NaN,4.0,NaN,NaN,2.0,1.0,2.0,5.0
18,4790,5.0,1.0,NaN,NaN,NaN,4.0,2.0,1.0,3.0,...,3.0,1.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
19,4489,1.0,2.0,2.0,4.0,5.0,NaN,2.0,3.0,2.0,...,1.0,NaN,NaN,5.0,5.0,4.0,3.0,5.0,3.0,NaN

In [61]:
#calculate user count who watched Toy Story
toystory_rating=df_toystory['1: Toy Story (1995)'].count()
toystory_rating

17

In [62]:
#recommendations for someone who watched toy story
toystory_rec = pd.DataFrame(df_toystory[cols].count()/toystory_rating, columns=['ratings']).sort_values(by='ratings', ascending=False)
toystory_rec

                                                     ratings
1: Toy Story (1995)                                 1.000000
260: Star Wars: Episode IV - A New Hope (1977)      0.823529
593: Silence of the Lambs, The (1991)               0.764706
1210: Star Wars: Episode VI - Return of the Jed...  0.764706
780: Independence Day (ID4) (1996)                  0.764706
1265: Groundhog Day (1993)                          0.647059
2916: Total Recall (1990)                           0.647059
2762: Sixth Sense, The (1999)                       0.588235
527: Schindler's List (1993)                        0.588235
296: Pulp Fiction (1994)                            0.588235
1198: Raiders of the Lost Ark (1981)                0.529412
3578: Gladiator (2000)                              0.529412
1259: Stand by Me (1986)                            0.529412
2571: Matrix, The (1999)                            0.529412
2396: Shakespeare in Love (1998)                    0.470588
2028: Saving Private Ryan (1998)                    0.470588
318: Shawshank Redemption, The (1994)               0.470588
34: Babe (1995)                                     0.470588
541: Blade Runner (1982)                            0.411765
356: Forrest Gump (1994)                            0.411765

In [65]:
#Q5: Correlation with Toy Story
df_corr= pd.DataFrame(df[df.columns[2:-1]].apply(lambda x: x.corr(df['1: Toy Story (1995)'])), columns=['correlation']).sort_values(by='correlation', ascending=False)
df_corr

                                                    correlation
1: Toy Story (1995)                                    1.000000
318: Shawshank Redemption, The (1994)                  0.888523
296: Pulp Fiction (1994)                               0.709842
2028: Saving Private Ryan (1998)                       0.596849
356: Forrest Gump (1994)                               0.522913
541: Blade Runner (1982)                               0.329634
3578: Gladiator (2000)                                 0.253396
2916: Total Recall (1990)                              0.163796
2396: Shakespeare in Love (1998)                       0.101768
1265: Groundhog Day (1993)                            -0.062858
780: Independence Day (ID4) (1996)                    -0.069923
260: Star Wars: Episode IV - A New Hope (1977)        -0.119005
527: Schindler's List (1993)                          -0.220315
2762: Sixth Sense, The (1999)                         -0.245770
1198: Raiders of the Lost Ark (1981)                  -0.309067
1210: Star Wars: Episode VI - Return of the Jed...    -0.314504
593: Silence of the Lambs, The (1991)                 -0.568258
1259: Stand by Me (1986)                              -0.610300
2571: Matrix, The (1999)                              -0.721995

In [68]:
#Q6: Mean rating difference by gender:  First, recompute the mean rating for each movie separately for males and for females.  And calculate the overall mean rating (across all ratings) for males and females. Submit the two movies that have the greatest differences 
#calculate Female mean rating
female_mean= pd.DataFrame(df[df['Gender (1 =F, 0=M)']>0][cols].mean(), columns=['F_mean'])
female_mean

                                                      F_mean
260: Star Wars: Episode IV - A New Hope (1977)      3.428571
1210: Star Wars: Episode VI - Return of the Jed...  3.000000
356: Forrest Gump (1994)                            3.000000
318: Shawshank Redemption, The (1994)               3.800000
593: Silence of the Lambs, The (1991)               2.714286
3578: Gladiator (2000)                              3.000000
1: Toy Story (1995)                                 3.571429
2028: Saving Private Ryan (1998)                    2.750000
296: Pulp Fiction (1994)                            4.000000
1259: Stand by Me (1986)                            2.428571
2396: Shakespeare in Love (1998)                    4.250000
2916: Total Recall (1990)                           1.714286
780: Independence Day (ID4) (1996)                  2.666667
541: Blade Runner (1982)                            3.500000
1265: Groundhog Day (1993)                          2.833333
2571: Matrix, The (1999)                            2.400000
527: Schindler's List (1993)                        2.500000
2762: Sixth Sense, The (1999)                       3.000000
1198: Raiders of the Lost Ark (1981)                2.000000
34: Babe (1995)                                     3.428571

In [70]:
#calculate male mean rating
male_mean= pd.DataFrame(df[df['Gender (1 =F, 0=M)']==0][cols].mean(), columns=['M_mean'])
male_mean

                                                      M_mean
260: Star Wars: Episode IV - A New Hope (1977)      3.125000
1210: Star Wars: Episode VI - Return of the Jed...  3.000000
356: Forrest Gump (1994)                            2.250000
318: Shawshank Redemption, The (1994)               3.400000
593: Silence of the Lambs, The (1991)               3.333333
3578: Gladiator (2000)                              2.833333
1: Toy Story (1995)                                 2.300000
2028: Saving Private Ryan (1998)                    3.142857
296: Pulp Fiction (1994)                            2.625000
1259: Stand by Me (1986)                            3.000000
2396: Shakespeare in Love (1998)                    2.142857
2916: Total Recall (1990)                           2.200000
780: Independence Day (ID4) (1996)                  2.857143
541: Blade Runner (1982)                            3.000000
1265: Groundhog Day (1993)                          3.500000
2571: Matrix, The (1999)                            3.142857
527: Schindler's List (1993)                        3.500000
2762: Sixth Sense, The (1999)                       2.666667
1198: Raiders of the Lost Ark (1981)                3.666667
34: Babe (1995)                                     2.000000

In [73]:
#merge 2 dataframes to calculate their mean difference
df_genders= pd.concat([female_mean, male_mean], axis=1)
df_genders['mean_diff']= df_genders['F_mean']-df_genders['M_mean']
df_genders

,F_mean,M_mean,mean_diff
260: Star Wars: Episode IV - A New Hope (1977),3.428571,3.125000,0.303571
1210: Star Wars: Episode VI - Return of the Jedi (1983),3.000000,3.000000,0.000000
356: Forrest Gump (1994),3.000000,2.250000,0.750000
"318: Shawshank Redemption, The (1994)",3.800000,3.400000,0.400000
"593: Silence of the Lambs, The (1991)",2.714286,3.333333,-0.619048
3578: Gladiator (2000),3.000000,2.833333,0.166667
1: Toy Story (1995),3.571429,2.300000,1.271429
2028: Saving Private Ryan (1998),2.750000,3.142857,-0.392857
296: Pulp Fiction (1994),4.000000,2.625000,1.375000
1259: Stand by Me (1986),2.428571,3.000000,-0.571429
2396: Shakespeare in Love (1998),4.250000,2.142857,2.107143
2916: Total Recall (1990),1.714286,2.200000,-0.485714
780: Independence Day (ID4) (1996),2.666667,2.857143,-0.190476
541: Blade Runner (1982),3.500000,3.000000,0.500000
1265: Groundhog Day (1993),2.833333,3.500000,-0.666667
"2571: Matrix, The (1999)",2.400000,3.142857,-0.742857
527: Schindler's List (1993),2.500000,3.500000,-1.000000
"2762: Sixth Sense, The (1999)",3.000000,2.666667,0.333333
1198: Raiders of the Lost Ark (1981),2.000000,3.666667,-1.666667
34: Babe (1995),3.428571,2.000000,1.428571

In [74]:
# difference in overall rating averages (female average - male average).
total_mean_diff= df_genders['F_mean'].sum()-df_genders['M_mean'].sum()
total_mean_diff

2.3000000000000114

In [79]:
#Q7: compute the % of ratings 4+ separately for males and females
#calculate Female ratings over 4 
female_rating= pd.DataFrame(df[df['Gender (1 =F, 0=M)']>0])
f_rating=pd.DataFrame(female_rating[cols][female_rating[cols]>=4].count()/female_rating[cols].count(),columns=['F_ratings']) 
f_rating

                                                    F_ratings
260: Star Wars: Episode IV - A New Hope (1977)       0.571429
1210: Star Wars: Episode VI - Return of the Jed...   0.500000
356: Forrest Gump (1994)                             0.500000
318: Shawshank Redemption, The (1994)                0.800000
593: Silence of the Lambs, The (1991)                0.285714
3578: Gladiator (2000)                               0.500000
1: Toy Story (1995)                                  0.571429
2028: Saving Private Ryan (1998)                     0.500000
296: Pulp Fiction (1994)                             0.666667
1259: Stand by Me (1986)                             0.428571
2396: Shakespeare in Love (1998)                     0.750000
2916: Total Recall (1990)                            0.000000
780: Independence Day (ID4) (1996)                   0.333333
541: Blade Runner (1982)                             0.750000
1265: Groundhog Day (1993)                           0.333333
2571: Matrix, The (1999)                             0.200000
527: Schindler's List (1993)                         0.166667
2762: Sixth Sense, The (1999)                        0.333333
1198: Raiders of the Lost Ark (1981)                 0.000000
34: Babe (1995)                                      0.571429

In [80]:
#calculate male ratings over 4 
female_rating= pd.DataFrame(df[df['Gender (1 =F, 0=M)']>0])
f_rating=pd.DataFrame(female_rating[cols][female_rating[cols]>=4].count()/female_rating[cols].count(),columns=['F_ratings']) 
f_rating
male_rating= pd.DataFrame(df[df['Gender (1 =F, 0=M)']==0])
m_rating=pd.DataFrame(male_rating[cols][male_rating[cols]>=4].count()/male_rating[cols].count(),columns=['M_ratings']) 
m_rating

                                                    M_ratings
260: Star Wars: Episode IV - A New Hope (1977)       0.500000
1210: Star Wars: Episode VI - Return of the Jed...   0.250000
356: Forrest Gump (1994)                             0.000000
318: Shawshank Redemption, The (1994)                0.600000
593: Silence of the Lambs, The (1991)                0.555556
3578: Gladiator (2000)                               0.500000
1: Toy Story (1995)                                  0.200000
2028: Saving Private Ryan (1998)                     0.285714
296: Pulp Fiction (1994)                             0.250000
1259: Stand by Me (1986)                             0.250000
2396: Shakespeare in Love (1998)                     0.000000
2916: Total Recall (1990)                            0.200000
780: Independence Day (ID4) (1996)                   0.285714
541: Blade Runner (1982)                             0.200000
1265: Groundhog Day (1993)                           0.500000
2571: Matrix, The (1999)                             0.571429
527: Schindler's List (1993)                         0.500000
2762: Sixth Sense, The (1999)                        0.333333
1198: Raiders of the Lost Ark (1981)                 0.500000
34: Babe (1995)                                      0.000000

In [82]:
#merge 2 dataframes to calculate their difference
df_genders_rating= pd.concat([f_rating, m_rating], axis=1)
df_genders_rating['rating_diff']=df_genders_rating['F_ratings']-df_genders_rating['M_ratings']
df_genders_rating

,F_ratings,M_ratings,rating_diff
260: Star Wars: Episode IV - A New Hope (1977),0.571429,0.500000,0.071429
1210: Star Wars: Episode VI - Return of the Jedi (1983),0.500000,0.250000,0.250000
356: Forrest Gump (1994),0.500000,0.000000,0.500000
"318: Shawshank Redemption, The (1994)",0.800000,0.600000,0.200000
"593: Silence of the Lambs, The (1991)",0.285714,0.555556,-0.269841
3578: Gladiator (2000),0.500000,0.500000,0.000000
1: Toy Story (1995),0.571429,0.200000,0.371429
2028: Saving Private Ryan (1998),0.500000,0.285714,0.214286
296: Pulp Fiction (1994),0.666667,0.250000,0.416667
1259: Stand by Me (1986),0.428571,0.250000,0.178571
2396: Shakespeare in Love (1998),0.750000,0.000000,0.750000
2916: Total Recall (1990),0.000000,0.200000,-0.200000
780: Independence Day (ID4) (1996),0.333333,0.285714,0.047619
541: Blade Runner (1982),0.750000,0.200000,0.550000
1265: Groundhog Day (1993),0.333333,0.500000,-0.166667
"2571: Matrix, The (1999)",0.200000,0.571429,-0.371429
527: Schindler's List (1993),0.166667,0.500000,-0.333333
"2762: Sixth Sense, The (1999)",0.333333,0.333333,0.000000
1198: Raiders of the Lost Ark (1981),0.000000,0.500000,-0.500000
34: Babe (1995),0.571429,0.000000,0.571429